# ignore all the log files
*.log
.DS_Store
.venv
.vscode
__pycache__
logs/
.env
data/carlisle/DEM5m_2D/
data/carlisle/grid_sequential_light/
data/carlisle/rls
data/carlisle/sequential
out/rls
miniconda.sh
out/area_check.tif
